.elementor-8291 .elementor-element.elementor-element-031b016 {
    --display: flex;
    --min-height: 360px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
    --overlay-opacity: 1;
    --padding-top: 60px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-8291 .elementor-element.elementor-element-031b016:not(.elementor-motion-effects-element-type-background), .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #424242;
    background-image: url("../../2023/01/4_RD.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-8291 .elementor-element.elementor-element-031b016::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-background-video-container::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .e-con-inner > .elementor-background-video-container::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-background-slideshow::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .e-con-inner > .elementor-background-slideshow::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-8291 .elementor-element.elementor-element-031b016::before {
    filter: brightness(67%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-widget-theme-archive-title .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-8291 .elementor-element.elementor-element-100bd24 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8291 .elementor-element.elementor-element-100bd24 {
    text-align: center;
}

.elementor-8291 .elementor-element.elementor-element-100bd24 .elementor-heading-title {
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}

.elementor-8291 .elementor-element.elementor-element-5e5bd89 .woocommerce-breadcrumb {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    text-align: center;
}

.elementor-8291 .elementor-element.elementor-element-5e5bd89 .woocommerce-breadcrumb > a {
    color: #FFFFFF;
}

.elementor-8291 .elementor-element.elementor-element-4edf911 {
    --display: flex;
}

.elementor-8291 .elementor-element.elementor-element-de203fb > .elementor-widget-container {
    margin: 10px 0px 20px 0px;
}

.elementor-8291 .elementor-element.elementor-element-de203fb {
    text-align: center;
}

.woocommerce .elementor-8291 .elementor-element.elementor-element-de203fb .term-description {
    font-family: "Lato", Sans-serif;
    font-size: 20px;
}

.elementor-8291 .elementor-element.elementor-element-b714133 {
    --display: flex;
}

.elementor-8291 .elementor-element.elementor-element-6ab14a5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-8291 .elementor-element.elementor-element-3a0977c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-8291 .elementor-element.elementor-element-2cff98f > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-8291 .elementor-element.elementor-element-2cff98f.elementor-element {
    --order: -99999 /* order start hack */;
}

.elementor-8291 .elementor-element.elementor-element-2cff98f {
    text-align: center;
}

.elementor-8291 .elementor-element.elementor-element-2cff98f .elementor-heading-title {
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9B2B2B;
}

.elementor-8291 .elementor-element.elementor-element-ab1580c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}

.elementor-widget-posts .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-post__title, .elementor-widget-posts .elementor-post__title a {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-posts .elementor-post__meta-data {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-posts .elementor-post__excerpt p {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-posts .elementor-post__read-more {
    color: var(--e-global-color-accent);
}

.elementor-widget-posts a.elementor-post__read-more {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-post__card .elementor-post__badge {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-posts .elementor-swiper-button.elementor-swiper-button-prev, .elementor-widget-posts .elementor-swiper-button.elementor-swiper-button-next {
    background-color: var(--e-global-color-accent);
}

.elementor-widget-posts .elementor-pagination {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-posts .ecs-load-more-button .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    background-color: var(--e-global-color-accent);
}

.elementor-widget-posts .e-load-more-message {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-8291 .elementor-element.elementor-element-083a068 {
    --grid-row-gap: 35px;
    --grid-column-gap: 30px;
}

.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-link-wrapper,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-custom-grid .ecs-post-loop,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-inner,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-section-wrap,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor > .elementor-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor > .e-container,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .ecs-link-wrapper > .elementor > .e-container,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .ecs-link-wrapper > .elementor > .elementor-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-link-wrapper > .has-post-thumbnail, .ecs-link-wrapper > .has-post-thumbnail > .elementor-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .has-post-thumbnail, .ecs-post-loop > .has-post-thumbnail > .elementor-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-inner .elementor-section-wrap .elementor-top-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-section-wrap .elementor-top-section,
.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-post-loop > .elementor .elementor-container {
    height: 100%;
}

.elementor-8291 .elementor-element.elementor-element-083a068 .elementor-post {
    height: auto;
}

.elementor-8291 .elementor-element.elementor-element-083a068 .elementor-pagination {
    text-align: center;
}

.elementor-8291 .elementor-element.elementor-element-083a068 .ecs-load-more-button .elementor-button {
    margin-top: 20px;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

body:not(.rtl) .elementor-8291 .elementor-element.elementor-element-083a068 .elementor-pagination .page-numbers:not(:first-child) {
    margin-left: calc(10px / 2);
}

body:not(.rtl) .elementor-8291 .elementor-element.elementor-element-083a068 .elementor-pagination .page-numbers:not(:last-child) {
    margin-right: calc(10px / 2);
}

body.rtl .elementor-8291 .elementor-element.elementor-element-083a068 .elementor-pagination .page-numbers:not(:first-child) {
    margin-right: calc(10px / 2);
}

body.rtl .elementor-8291 .elementor-element.elementor-element-083a068 .elementor-pagination .page-numbers:not(:last-child) {
    margin-left: calc(10px / 2);
}

@media (min-width: 768px) {
    .elementor-8291 .elementor-element.elementor-element-3a0977c {
        --width: 20%;
    }

    .elementor-8291 .elementor-element.elementor-element-ab1580c {
        --width: 85%;
    }
}

@media (max-width: 1024px) {
    .elementor-8291 .elementor-element.elementor-element-031b016 {
        --min-height: 200px;
    }
}

@media (max-width: 767px) {
    .elementor-8291 .elementor-element.elementor-element-031b016:not(.elementor-motion-effects-element-type-background), .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("../../2023/01/4_RD-1536x753.png");
        background-position: center center;
    }

    .elementor-8291 .elementor-element.elementor-element-031b016 {
        --min-height: 0px;
    }

    .elementor-8291 .elementor-element.elementor-element-031b016::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-background-video-container::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .e-con-inner > .elementor-background-video-container::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-background-slideshow::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .e-con-inner > .elementor-background-slideshow::before, .elementor-8291 .elementor-element.elementor-element-031b016 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before {
        background-position: center center;
    }

    .elementor-8291 .elementor-element.elementor-element-100bd24 .elementor-heading-title {
        font-size: 23px;
    }

    .elementor-8291 .elementor-element.elementor-element-6ab14a5 {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
    }

    .elementor-8291 .elementor-element.elementor-element-ab1580c {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-8291 .elementor-element.elementor-element-083a068 {
        --grid-row-gap: 0px;
        --grid-column-gap: 5px;
    }
}

/* Start custom CSS for shortcode, class: .elementor-element-e7150be */
.elementor-8291 .elementor-element.elementor-element-e7150be .subcategories-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.elementor-8291 .elementor-element.elementor-element-e7150be .subcategories-list li {
    background-color: #f1f1f1;
    padding: 10px !important;
    margin-bottom: 5px;
    align-self: center;
    list-style-type: none;

}

.elementor-8291 .elementor-element.elementor-element-e7150be .subcategories-list a {
    color: black !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}

.elementor-8291 .elementor-element.elementor-element-e7150be .subcategories-list li:hover {
    background-color: #e1e1e1;
}

/* End custom CSS */
